body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  width:  100vw;
  overflow: hidden;

}

.marker{
  stroke:#FFD700;
  transform: translate(-50%,-100%);

}


.notvismark{
  stroke:#FF8C00;
  transform: translate(-50%,-100%);
}

.popup{
  max-width:40vw;
  padding: 1rem;
}

.popup img{
  height: 8rem;
  width:auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.entry-form #title{
  color: #333;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0 0 30px;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button,
.entry-form select{
  font-size:1rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;

}
