.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-image {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 250vh;
  position: relative;
  background-attachment: fixed;
}

.dev{
  font-family: 'Lobster', cursive;
  color: purple;
}
